@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");

body {
  background: #c0dfff;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 110px 10px 70px 10px;
}

.chatbar {
  background: #efefef;
  bottom: 0;
  display: flex;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0;
  justify-content: flex-start;
}

.chatbar-message,
.chatbar-username {
  border: 1px solid #d6d6d6;
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 9px;

}

.chatbar-message {
  flex: 8;
  border-radius: 30px;
}

.chatbar-username {
  text-align: center;
  border-radius: 10px;
}

.message-form{
  min-width: 85%;
  /*max-width: 85%;*/
}

.message {
  display: flex;
  padding: 5px;
  justify-content: flex-start;
}

.message-current {
  display: flex;
  padding: 5px;
  justify-content: flex-end;
}

.message.system {
  font-style: italic;
  padding: 5px 10px;
  background-color: #ffedc0;
  border-radius: 10px;
  max-width: fit-content;
  margin: 10px auto;
}

.combine-message{
  display: flex;
  flex-direction: column;
  padding: 10px 10px 5px 10px;
  background-color: #ffffff;
  border-radius: 10px;
  max-width: fit-content;
  justify-content: flex-start;
}

.combine-message-current{
  display: flex;
  flex-direction: column;
  padding: 10px 10px 5px 10px;
  background-color: #ffffff;
  border-radius: 10px;
  max-width: fit-content;
  justify-content: flex-end;
}

.message-content,
.message-username {
  overflow: hidden;
}

.message-content {
  flex: 8;
  background-color: #ffffff;
  border-radius: 10px;
  max-width: fit-content;
  margin-bottom: 5px;
}

.message-username {
  font-weight: 700;
  margin-bottom: 10px;
}

:focus {
  outline-style: none;
  outline-color: transparent;
}

.navbar {
  background-color: #ffffff;
  border-bottom: 1px solid lightgrey;
  height: 70px;
  left: 0;
  padding: 10px 10px;
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
  margin: 10px auto;
  border-radius: 10px;
  flex-direction: column;
}

.navbar-brand {
  color: inherit;
  display: block;
  font-weight: 700;
  font-size: 28px;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  text-decoration: none;
}

.onlineUsers{
  margin-bottom: 15px;
}

h1 {
  padding-left: 20px;
}

form{
  display:flex;
}

div#react-root{
  margin-top: 80px;
}

@media (max-width: 1200px) {

.message-form{
  min-width: 80%;
}

}

@media (max-width: 900px) {

.message-form{
  min-width: 75%;
}

}

